<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Amount = <%= amount %> 
  </div>
  <hr>
</div>

</body>
</html>
