{{<layout}}

{{$pageTitle}}{{title}}{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <div class="content-wrapper">
				{{>payment_summary}}

				<form class="form">

					<h1 class="form-title">{{title}}</h1>

					{{#paymentTypes}}
					<div class="form-group selectable">
						<label class="block-label">
							<input type="radio" id="type-{{.}}" value="{{.}}">
							Pay by {{.}}
						</label>
					</div>
					{{/paymentTypes}}

					<div class="form-group">
						<input type="submit" id="submitPaymentChoice" name="submitPaymentChoice" value="Continue" class="button"/><br />
					</div>

				</form>
			</div>
		</div>
	</div>
</main>

{{/content}}

{{/layout}}
