{{<layout}}

{{$pageTitle}}Start a new payment{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <div class="content-wrapper">
                <h1 class="form-title">Start a new payment</h1>
                <div class="payment-summary">
                    <div class="inner">
                        <h2>Authorization details</h2>
                        <p><strong id="service-name">{{payment.serviceNameCapitalised}}</strong></p>
                        <form class="form" action="{{ service_path }}" method="post">
                            <fieldset>
                                {{#invalidAuthTokenMsg}}
                                     <div class="form-group error">
                                        <span class="error-message" id="error-msg">
                                            {{invalidAuthTokenMsg}}
                                         </span>
                                     </div>
                                {{/invalidAuthTokenMsg}}
                                <div class="form-group">
                                    <label for="auth-token" class="form-label-bold">Enter Authorization Token:</label>
                                    <input type="text" id="auth-token" name="authToken" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" id="proceed-to-service" name="proceed-to-service" value="Proceed to service" class="button"/>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{/content}}

{{/layout}}