{{<layout}}

{{$pageTitle}}Set up payment{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <div class="content-wrapper">
                <h1 class="form-title">Set up payment</h1>

                {{#lastPayment.next_url}}
                <div class="outer">
                    <h2>Last payment summary</h2>

                    <p> Payment description: <strong id="last-payment-reference">{{lastPayment.reference}}</strong></p>
                    <p> Payment reference: <strong id="last-payment-description">{{lastPayment.description}}</strong> </p>
                    <p> Amount: <strong id="last-payment-amount">{{lastPayment.amount}}</strong></p>
                    <div class="form-group">
                        <a id="last-payment-resume" class="button" href="{{lastPayment.next_url}}">Resume payment</a>
                    </div>
                </div>
                {{/lastPayment.next_url}}
                <div class="payment-summary">
                    <div class="inner">
                        <h2>Payment summary</h2>
                        <form class="form" action="{{ proceed_to_payment_path }}" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label for="description" class="form-label-bold">Payment description:</label>
                                    <input type="text" id="description" name="description" value="{{description}}"/>
                                </div>
                                <div class="form-group">
                                    <label for="reference" class="form-label-bold">Payment reference:</label>
                                    <input type="text" id="reference" name="reference" value="{{reference}}"/>
                                </div>
                                <div class="form-group{{#invalidAmountMsg}} error{{/invalidAmountMsg}}">
                                    <label for="amount" class="form-label-bold">Amount (in pence):</label>
                                    <input type="text" id="amount" name="amount" />
                                    {{#invalidAmountMsg}}
                                    <span class="error-message" id="error-msg">{{invalidAmountMsg}}</span>
                                    {{/invalidAmountMsg}}
                                </div>
                                <input type="hidden" name="paymentReference" value="{{ payment_reference }}" />
                                <div class="form-group">
                                    <input type="submit" id="submit-start-payment" name="submit-start-payment" value="Set up payment" class="button"/>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{/content}}

{{/layout}}
