{{<layout}}

{{$pageTitle}}{{title}}{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <div class="content-wrapper">
                <br />
                <h2 id="confirmation-message" style="font-size: 30px">{{confirmationMessage}}</h2>
                <div class="outer">
                    <p> We will email you a receipt shortly</p>

                    <h2>Payment summary</h2>

                    <p> <strong id="payment-reference">Reference number: {{paymentReference}}</strong></p>
                    <p> Payment for: {{paymentDescription}} </p>
                    <p> Amount paid: <span id="amount">{{formattedAmount}}</span></p>
                    <div class="form-group">
                        <input type="submit" id="returnToGovUk" name="returnToGovUk" value="Return to GOV.UK homepage" class="button"/><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{/content}}

{{/layout}}
